In [1]:
import pandas as pd
import glob
from functools import reduce
import re
import os

In [2]:
def make_data_country(file_path):

    with open(file_path, 'r') as f:
        total_list = f.read().splitlines()
    
    file_name = file_path.split('.')[0].split('/')[1]
    
    #なければディレクトリをつくる
    dir_path = "country_data/" + file_name
    if not os.path.exists(dir_path):
        os.mkdir(dir_path)    
    conuntry_index = {}
    last_ind = 0
    # 国ごとにdatファイルを分割する
    for index, row in enumerate(total_list):
        flag = re.findall(r"[A-Z]+" , row) #国名だけを抜く
        if len(flag) != 0:
            name = flag[0]
            conuntry_index[name] = [last_ind, index]
            last_ind = index
    
    # 国ごとにdatファイルを保存
    for name in conuntry_index.keys():
        first, last = conuntry_index[name]
        data = total_list[first+1:last]
        with open('country_data/' + file_name + '/' + name + '.dat', mode='w') as f:
            f.write('\n'.join(data))

In [3]:
# 国ごとにファイルを作り、もとのdatファイルごとにディレクトリに入れる
for f_path in glob.glob('dat_file/*'):
    make_data_country(f_path)

In [4]:

df_list = []
#テストでgu23wld0098を読み込む
for file_path in glob.glob('country_data/gu23wld0098/*.dat'):
    
    par_filename = file_path.split('/')[1]
    country = file_path.split('/')[2].split('.')[0]
    
    # 1-12月と最後の列はhoge
    names = [str(i) for i in range(1, 13)] + ['Hoge']
    # stack 1, 2, ...12, hoge のインデックスを追加するならべる
    # いい感じにdatファイルを読む
    df = pd.read_table(file_path, skiprows=1,  sep='\s+', names=names)\
                        .stack(dropna=False).to_frame()
    # 国名を入れる
    df['country'] = country
    df.reset_index(inplace=True)
    # valuの末尾にファイル名を追加しておく
    df.columns = ['year', 'month', 'value_' + par_filename, 'country']
    df_list.append(df)

In [5]:
df = pd.concat(df_list)
df

      year month  value_gu23wld0098  country
0     1901     1              376.0  ESTONIA
1     1901     2              414.0  ESTONIA
2     1901     3              248.0  ESTONIA
3     1901     4              385.0  ESTONIA
4     1901     5              108.0  ESTONIA
5     1901     6              520.0  ESTONIA
6     1901     7              244.0  ESTONIA
7     1901     8              560.0  ESTONIA
8     1901     9              273.0  ESTONIA
9     1901    10              624.0  ESTONIA
10    1901    11              566.0  ESTONIA
11    1901    12              747.0  ESTONIA
12    1901  Hoge             5065.0  ESTONIA
13    1902     1              652.0  ESTONIA
14    1902     2              222.0  ESTONIA
15    1902     3              523.0  ESTONIA
16    1902     4               61.0  ESTONIA
17    1902     5              520.0  ESTONIA
18    1902     6              653.0  ESTONIA
19    1902     7              904.0  ESTONIA
20    1902     8             1096.0  ESTONIA
21    1902     9              655.0  ESTONIA
22    1902    10              653.0  ESTONIA
23    1902    11              316.0  ESTONIA
24    1902    12              424.0  ESTONIA
25    1902  Hoge             6679.0  ESTONIA
26    1903     1              571.0  ESTONIA
27    1903     2              416.0  ESTONIA
28    1903     3              321.0  ESTONIA
29    1903     4              604.0  ESTONIA
...    ...   ...                ...      ...
1244  1996    10              469.0  LEBANON
1245  1996    11              312.0  LEBANON
1246  1996    12              724.0  LEBANON
1247  1996  Hoge             4541.0  LEBANON
1248  1997     1              556.0  LEBANON
1249  1997     2              711.0  LEBANON
1250  1997     3              473.0  LEBANON
1251  1997     4              251.0  LEBANON
1252  1997     5               53.0  LEBANON
1253  1997     6               18.0  LEBANON
1254  1997     7                8.0  LEBANON
1255  1997     8               26.0  LEBANON
1256  1997     9              237.0  LEBANON
1257  1997    10              533.0  LEBANON
1258  1997    11              692.0  LEBANON
1259  1997    12              883.0  LEBANON
1260  1997  Hoge             4441.0  LEBANON
1261  1998     1             1019.0  LEBANON
1262  1998     2              385.0  LEBANON
1263  1998     3              610.0  LEBANON
1264  1998     4              123.0  LEBANON
1265  1998     5              165.0  LEBANON
1266  1998     6                4.0  LEBANON
1267  1998     7                8.0  LEBANON
1268  1998     8                2.0  LEBANON
1269  1998     9               75.0  LEBANON
1270  1998    10               83.0  LEBANON
1271  1998    11              296.0  LEBANON
1272  1998    12             1136.0  LEBANON
1273  1998  Hoge             3906.0  LEBANON

[208936 rows x 4 columns]